#airconsole-leaderboard {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: #1f1f1f;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

#airconsole-leaderboard-instructions {
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    background-color: black;
    text-transform: none;
}

.airconsole-leaderboard-winner {
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    padding: 20px 40px 40px 40px;
    background-color: black;
    text-transform: none;
    font-size: 24px;
}

#airconsole-leaderboard.airconsole-leaderboard-show {
    display: block;
}

.airconsole-leaderboard-button {
    color: #adee00;
    border: 1px solid #adee00;
    background-color: #1b1b1b;
}

.airconsole-leaderboard-button-active {
    background-color: #adee00;
    color: #1f1f1f;
}

.airconsole-leaderboard-wait {
    color: #adee00;
}

.airconsole-leaderboard-points {
    background-image: url('point.png');
}

.airconsole-leaderboard-points-background {
    background-image: url('point-background.png');
}

.airconsole-leaderboard-player {
    border: 1px solid #3b3b3b;
}

.airconsole-leaderboard-ready {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

.airconsole-leaderboard-ready-active {
    background-color: #adee00;
}

/* bellow should not be modified */

.airconsole-leaderboard-controller-start {
    position: absolute;
    width: 220px;
    margin-left: -110px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
}

.airconsole-leaderboard-portrait .airconsole-leaderboard-controller-start {
    left: 50%;
    transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    bottom: 20px;
}

.airconsole-leaderboard-landscape .airconsole-leaderboard-controller-start {
    left: 75%;
    transform-origin: 50% 0% 0;
    -webkit-transform-origin: 50% 0% 0;
    top: 50%;
    margin-top: -72px;
}

.airconsole-leaderboard-controller-place {
    position: absolute;
    width: 220px;
    margin-left: -110px;
    text-align: center;
    color: #ffffff;
    text-transform: none;
}

.airconsole-leaderboard-controller-place-picture {
    height: 96px;
    width: 96px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    display: inline-block;
    margin: 4px;
    transform-origin: 50% 0% 0;
    -webkit-transform-origin: 50% 0% 0;
}

.airconsole-leaderboard-portrait .airconsole-leaderboard-controller-place {
    top: 20px;
    left: 50%;
}

.airconsole-leaderboard-landscape .airconsole-leaderboard-controller-place {
    left: 25%;
    top: 50%;
    margin-top: -80px;
}

.airconsole-leaderboard-controller-best-of {
    font-size: 16px;
    position: absolute;
    width: 220px;
    margin-left: -110px;
    text-align: center;
    color: #ffffff;
    transform-origin: 50% 0% 0;
    -webkit-transform-origin: 50% 0% 0;
}

.airconsole-leaderboard-portrait .airconsole-leaderboard-controller-best-of {
    top: 20px;
    left: 50%;
}

.airconsole-leaderboard-landscape .airconsole-leaderboard-controller-best-of {
    left: 25%;
    top: 20px;
}

.airconsole-leaderboard-controller-best-of-button {
    margin-top: 8px;
    padding: 20px;
    border-radius: 5px;
}

.airconsole-leaderboard-controller-queue {
    font-size: 16px;
    position: absolute;
    top: 50%;
    width: 256px;
    left: 50%;
    text-align: center;
    margin-top: -24px;
    margin-left: -128px;
}

.airconsole-leaderboard-controller-container {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.airconsole-leaderboard-screen-container {
    margin-top: 20px;
    text-align: center;
    transform-origin: 50% 0;
}

.airconsole-leaderboard-screen-title {
    font-size: 32px;
    margin-bottom: 16px;
}

.airconsole-leaderboard-player {
    height: 64px;
    position: relative;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 12px;
    margin-right: 12px;
    display: inline-block;
    transition: width 1s;
}

.airconsole-leaderboard-screen-player-picture {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
}

.airconsole-leaderboard-player-nickname {
    font-size: 24px;
    position: absolute;
    left: 80px;
    width: 180px;
    top: 18px;
    text-transform: none;
    text-align: center;
}

.airconsole-leaderboard-points-background {
    position: absolute;
    left: 260px;
    right: 104px;
    height: 40px;
    background-position: 0px 50%;
    background-repeat: repeat-x;
    top: 12px;
}

.airconsole-leaderboard-points {
    position: absolute;
    left: 260px;
    height: 40px;
    background-position: 0px 50%;
    background-repeat: repeat-x;
    top: 12px;
    transition: width 2s;
}

.airconsole-leaderboard-winner img {
    margin: 16px;
    border-radius: 5px;
}

.airconsole-leaderboard-ready {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 80px;
    border-radius: 5px;
    overflow: hidden;
    height: 38px;
}

.airconsole-leaderboard-ready-active {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
}

.airconsole-leaderboard-ready-text {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
}