#airconsole-leaderboard {
    font-family: 'Play';
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background: #1f1f1f;
}

#airconsole-leaderboard.airconsole-leaderboard-show {
    display: block;
}

.airconsole-leaderboard-controller-start {
    position: absolute;
    margin-top: -64px;
    width: 256px;
    margin-left: -128px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    font-weight: bold;
    font-size: 24px;
    color: #adee00;
    border: 1px solid #adee00;
    border-radius: 5px;
}

.airconsole-leaderboard-controller-start-ready {
    background-color: #adee00;
    color: #1f1f1f;
}

.airconsole-leaderboard-portrait .airconsole-leaderboard-controller-start {
    top: 75%;
    left: 50%;
}

.airconsole-leaderboard-landscape .airconsole-leaderboard-controller-start {
    left: 75%;
    top: 50%;
}

.airconsole-leaderboard-controller-place {
    position: absolute;
    margin-top: -64px;
    width: 256px;
    margin-left: -128px;
    text-align: center;
    color: #ffffff;
}

.airconsole-leaderboard-controller-place-picture {
    height: 96px;
    width: 96px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    display: inline-block;
    margin: 4px;
}

.airconsole-leaderboard-portrait .airconsole-leaderboard-controller-place {
    top: 33%;
    left: 50%;
}

.airconsole-leaderboard-landscape .airconsole-leaderboard-controller-place {
    left: 25%;
    top: 50%;
}

.airconsole-leaderboard-controller-best-of {
    font-size: 16px;
    position: absolute;
    margin-top: -64px;
    width: 256px;
    margin-left: -128px;
    text-align: center;
    color: #ffffff;
}

.airconsole-leaderboard-portrait .airconsole-leaderboard-controller-best-of {
    top: 25%;
    left: 50%;
}

.airconsole-leaderboard-landscape .airconsole-leaderboard-controller-best-of {
    left: 25%;
    top: 50%;
}

.airconsole-leaderboard-controller-best-of-button {
    margin-top: 8px;
    padding: 20px;
    border: 1px solid #adee00;
    border-radius: 5px;
    color: #adee00;
}

.airconsole-leaderboard-controller-best-of-button-active {
    background-color: #adee00;
    color: #1f1f1f !important;
}

.airconsole-leaderboard-controller-queue {
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    width: 256px;
    left: 50%;
    text-align: center;
    margin-top: -24px;
    margin-left: -128px;
}

.airconsole-leaderboard-controller-queue span {
    color: #adee00;
}